<!DOCTYPE HTML>
<html>
<head>
    <title>Strongbox AQL Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    
    <div class="container mt-5">
        <h2 class="text-center">{strongbox AQL}</h2>
        <div class="input-group mb-3">
          <input id="query" type="text" class="form-control" placeholder="Query" aria-label="Recipient's username" aria-describedby="button-addon2">
          <div class="input-group-append">
            <button id="suggest" class="btn btn-primary" type="button" id="button-addon2">Suggest</button>
          </div>
        </div>
        <small id="suggestion" class="form-text text-muted">
          autocomplete suggestion will appear here (don't forget to look at the browser console as well)
        </small>
    </div>
     
</body>
</html>